@import "colors.css";



window#waybar {
    font-family: "JetBrains Mono NerdFont";
    background-color: rgba(0, 0, 0, 0);
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    border-radius: 10px;
}

tooltip {
    font-family: "JetBrains Mono NerdFont";
    font-size: 0.8rem;
}

.modules-left {
    background: @background;
    border-radius: 10px;
    padding: 3px;
}

.modules-center {
    background: @background;
    border-radius: 10px;
    padding: 3px;
}

.modules-right {
    background: @background;
    border-radius: 10px;
    padding: 3px;
}


#workspaces {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 0 0px;
}

#workspaces button {
    font-family: "SF Pro Text";
    color: @text;
    font-size: 1.2rem;
    padding: 0 2px 0 2px;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#workspaces button.special {
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button.active {
    color: red;
}

#workspaces button.urgent {
    color: red;
}

#window, #custom-media {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}


#custom-dotseperator {
    font-size: 25;
    color: rgba(255, 165, 197, 0.599);
}

#custom-lineseperator {
    font-size: 20;
    padding-right: 0.1rem;
    color: rgba(255, 165, 197, 0.599);
}

#tray {
    border-radius: 10px;
    padding: 2px 5px;
}

#clock.time {
    font-family: 'SF Pro Rounded';
    font-weight: 600;
}

#clock.date {
    font-family: 'SF Pro Rounded';
    font-weight: 600;
    padding-left: 4px;

}



#custom-audiooutputtoggle, #wireplumber, #network {
    margin-left: 6px;
    margin-right: 6px;
}

#custom-buttonspace {
    margin-left: 3px;
}

#wireplumber {
    font-size: 16;
}

#custom-seperator {
    font-size: 28;
}

#custom-space {
    font-size: 10;
}

#network {
    padding-right: 8px;
}

#battery {
    font-size: smaller;
}


