layout {
    border {
        width 3
        urgent-color "#ffb4ab"

        active-gradient from="#e7b6f1" to="#784f83" angle=45 relative-to="workspace-view"

        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}
