// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
        track-layout "global"
        numlock
    }
    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
    	accel-speed 0.3
        accel-profile "adaptive"
        scroll-factor 0.5
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse max-scroll-amount="80%"
    workspace-auto-back-and-forth
    disable-power-key-handling
}
