layout {
    border {
        on
        width 1
        urgent-color "{{colors.error.default.hex}}"

        active-gradient from="{{colors.primary.default.hex}}" to="{{colors.inverse_primary.default.hex}}" angle=45 relative-to="workspace-view"

        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}
